*
{
	margin:0%;
	padding:0%;
	box-sizing:border-box;
}

body
{
	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('image/nature.jpg');
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	height:100vh;
	width:100%;
	background: 
}
.form
{
	height:570px;
	width:450px;
	background: rgba( 255, 255, 255, 0.4 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 3px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	margin:auto;
	margin-top:10%;
}

h1
{
	color:white;
	font-family:arial;
	margin:auto;
	margin-top:10%;
	padding-left:35%;
	font-size:50px;
}

h2
{
	color:white;
	font-family:arial;
	position:absolute;
	transform:translate(-50%,-50%);
	margin-left:27%;
	top:27%;
	font-size:30px;
}
input
{
	height:30px;
	width:80%;
	padding:20px 50px 20px 20px ;
	font-size:20px;
	position:absolute;
	transform:translate(-50%,-50%);
	margin-left:50%;
	top:35%;
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 4px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	color:black;
	border:none;
	 
	
}

.pss
{
	color:white;
	font-family:arial;
	position:absolute;
	transform:translate(-50%,-50%);
	margin-left:27%;
	margin-top:28%;
	font-size:30px;
}
 .pass
{
	height:30px;
	width:80%;
	padding:20px 50px 20px 20px ;
	font-size:20px;
	position:absolute;
	transform:translate(-50%,-50%);
	margin-left:50%;
	margin-top:30%;
	background: rgba( 255, 255, 255, 0.25 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4px );
	-webkit-backdrop-filter: blur( 4px );
	border-radius: 4px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	color:black;
	border:none;
	 
	
}
.pass:hover
{
	background: rgba( 0, 0, 0, 0.75 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 2px );
	-webkit-backdrop-filter: blur( 2px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	color:white;
}

