*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body
{
    background-color: black;

}
.box
{
    height: 450px;
    width: 740px;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('images/banner.jpg');
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
img
{
    height: 135px;
    width: 135px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 91%;
    top:17%;
}
h1
{
    font-size: 45px;
    font-family: arial;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 38%;
    top: 42%;
    color: white;
}
.button
{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 17%;
    top: 62%;
    border: 2px solid white;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    font-family: arial;
    font-size: 20px;
    background-color: red;
}