*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
table
{
    width: 100%;
    
    padding: 10px;
}
tr
{
    float: right;
    margin-right: 10px;
}
a
{
    color: black;
    font-family: arial;
    text-decoration: none;
    font-size: 15px;

}
.prof   
{
    border: 1px solid black;
    padding: 10px 14px;
    border-radius: 50%;
    font-family: arial;
    background-color: #356825;
    color: white;
     
    
}
.google
{
    font-weight: bold;
    position:absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top:35%;
    font-size: 85px;
    font-family: arial;
    letter-spacing:-5px;

}
.Search
{
    height: 55px;
    width: 40%;
    border: 1px solid gray;
    position:absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top:50%;
    border-radius: 50px;
    outline: none;
}
.icon
{
    position:absolute;
    transform: translate(-50%,-50%);
    left: 32%;
    top:50%;
    font-size: 20px;
    color: gray;
}
.mic
{
    height: 33px;
    width: 33px;
    position:absolute;
    transform: translate(-50%,-50%);
    left: 65%;
    top:50%;
   
    
}
.cam
{
    height: 23px;
    width: 23px;
    position:absolute;
    transform: translate(-50%,-50%);
    left: 68%;
    top:50%;
   
}
.button
{
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 60%;
    
}
.button a
{
    border: 1px solid #f8f9fa;
    padding: 10px  20px;
    margin-right: 10px;
    background-color: #f8f9fa;
}
.lang
{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 70%;
    left: 50%;
    font-family: Arial;
    font-size: 15px;
}
